.mainPanelWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	border: bo
}

.scenarioSelectionPanel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: fit-content;

}

.scenarioSelectionCard {
	width: fit-content;
	height: fit-content;
	padding: .25rem;
	padding-left: .5rem;
	padding-right: .5rem;
	font-size: 1.5rem;
	border-radius: .25rem;
	margin: .1rem;
	cursor: pointer;
	display: flex;
	background-color: lightcyan;
	border: 1px solid black;
	font-family: 'Courier New', Courier, monospace;
}

.scenarioSelectionAddNew {
	background-color: lightblue;
}

.scenarioSelectionSaveAll {
	background-color: lightcoral;
}

.schedulerCard{
	display: flex;
	flex-direction: column;
	margin-top: .25rem;
	font-family: "Roboto";
}

.columnsList {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: fit-content;
	min-height: 50vh;
	overflow: scroll;
}

.nameEditor{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.actionsColumns {
	display: flex;
	flex-direction: column;
	min-width: 10rem;
	width: 30vw;
	min-height: 50vh;
	min-width: 48%;
	height: 100%;
	border: 2px solid blue;
	border-radius: 1rem;
	border-radius: .25rem;
	margin-right: 1rem;
}

.selfColumnId{
	display: block;
	width: 100%;
	text-align: center;
}

.columnAddAtionsBtns {
	display: flexbox;
	flex-direction: row;
	flex-wrap: wrap;
	justify-items: start;
	justify-content: start;
}

.addActionBtn{
	margin: .2rem;
	padding: .1rem;
	font-weight: bold;
}

.addActionHttp {
	background-color: lightcoral;
}

.addActionIcmp {
	background-color: lightblue;
}